name: Delete All Workflow Runs

on:
  workflow_dispatch: # Run manually from GitHub Actions tab

jobs:
  delete-runs:
    runs-on: ubuntu-latest
    steps:
      - name: Delete all workflow runs
        uses: Mattraks/delete-workflow-runs@v2.0.6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          retain_days: 0
          keep_minimum_runs: 0
