name: Publish

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    name: Build Unity
    runs-on: ubuntu-latest

    strategy:
      matrix:
        target:
          - windows
          - android

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Cache Library
        uses: actions/cache@v4
        with:
          path: Library
          key: Library-${{ matrix.target }}
          restore-keys: Library-

      - name: Unity Builder
        uses: game-ci/unity-builder@v4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          unityVersion: 2022.3.20f1
          targetPlatform: ${{ matrix.target == 'windows' && 'StandaloneWindows64' || 'Android' }}
          buildMethod: ${{ matrix.target == 'windows' && 'CIBuilder.BuildWindows' || 'CIBuilder.BuildAndroid' }}

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-${{ matrix.target }}
          path: Builds/
