name: Publish

on:
  workflow_dispatch:

jobs:
  publish:
    name: Publish Unity Builds
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: windows
            targetPlatform: StandaloneWindows64
            buildMethod: CIBuilder.BuildWindows
          - name: android
            targetPlatform: Android
            buildMethod: CIBuilder.BuildAndroid

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Free disk space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/share/boost
          sudo apt-get clean
          df -h

      - name: Cache Library
        uses: actions/cache@v4
        with:
          path: ProjectDawn/Library
          key: Library-${{ matrix.name }}
          restore-keys: |
            Library-

      - name: Build Unity Player
        uses: game-ci/unity-builder@v4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          projectPath: ProjectDawn
          targetPlatform: ${{ matrix.targetPlatform }}
          buildMethod: ${{ matrix.buildMethod }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.name }}
          path: ProjectDawn/Builds/
